* {
    box-sizing: border-box;
}

h2,
h3,
p {
    margin: 0;
}


img {
    width: 100%;
    display: block;
    border-radius: 320px;
}

.warp {
    width: 940px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(200, 193, 193);
}


main {
    width: 900px;
    height: 250px;
    border-radius: 40px;
    background-image: url(image/img-center.jpg);
}

.main-title {
    font-size: 55px;
    padding-top: 110px;
    padding-right: 419px;
    padding-bottom: 0%;
    padding-left: 49px;
    color: aliceblue;
}

.main-intro {
    font-size: 20px;
    color: gray;
    padding-top: 0%;
    padding-right: 452px;
    padding-bottom: 30px;
    padding-left: 49px;
    color: aliceblue;
}

section {
    display: flex;
    gap: 20px;
}

.card {
    width: 210px;
    height: 320px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    border-radius: 20px;
    background-color: white;
}

.card-title {
    margin: 12px 0 12px 0;
}